<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <br>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div><br>
    {% endfor %}
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>