{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Access Encrypted File{% endblock %}</h1>
{% endblock %}
{% block content %}
    <div class="container">
        <p>The file you are trying to access is encrypted: <span class="encrypted-file-name">{{ filename }}</span></p>
        <form action="{{ url_for('download_file', uri=uri)}}" method="post">
            <div class="form-group">
                <label for="password">Enter Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}