{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Trashcan: File sharing{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Upload File</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <button class="btn-file-input">Choose File</button>
                <input type="file" name="file" id="file-input"><br>
                <span class="file-input-name" id="file-input-name"><100MB</span><br>
            </div>
            <label for="password">Password for encryption (optional):</label>
            <input type="password" name="password" id="password"><br>
            <button type="submit">Upload</button>
        </form>
    </div>
    <script>
        document.getElementById('file-input').addEventListener('change', function() {
            var fileName = this.files[0].name;
            document.getElementById('file-input-name').textContent = fileName;
        });
    </script>
{% endblock %}